!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %meta{:name=>'viewport', :content =>'width=device-width', 'initial-scale'=>1.0}
    %meta{:name =>'description', :content => ''}
    %meta{:name => 'author', :content => ''}
    %link{:rel => 'shortcut icon', :href => 'http://getbootstrap.com/assets/ico/favicon.png'}
    %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css", :rel => 'stylesheet'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/hack2end.css'}
    %title
      #Hack2End

    -# Bootstrap core CSS
    %link{:href => '/stylesheets/bootstrap.min.css', :rel => 'stylesheet'}
    -# Custom styles for this template
    %link{:href => '/stylesheets/jumbotron-narrow.css', :rel => 'stylesheet'}
    
    -# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    /[if lt IE 9]
      %script{:src => '/javascripts/ie/html5shiv.js'}
      %script{:src => '/javascripts/ie/respond.min.js'}
  %body
    .container{:style => 'max-width:none !important;'}
      .header
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => '/'}
              Home
          %li 
            %a{:href => '/about'}
              About
          %li
            %a{:href => '/contact'} 
              Contact
        %h3.text-muted 
          \#Hack2End

      #map-canvas.jumbotron

      .row.marketing
        .col-lg-6
          %h4 
            Subheading
            %p 
              Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
          %h4 
            Subheading
          %p 
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

          %h4 Subheading
          %p 
            Maecenas sed diam eget risus varius blandit sit amet non magna.

        .col-lg-6
          %h4 Subheading
          %p  
            Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          %h4 Subheading
          %p 
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

          %h4 Subheading
          %p 
            Maecenas sed diam eget risus varius blandit sit amet non magna.

      .footer
        %p © Neigel Vintners #{Date.today.year}
        %p 
          %a{:href => 'http://hautaulogy.com', :target => '_blank'} Made by this crazy person.
          
    -# Bootstrap core JavaScript
    -# Placed at the end of the document so the pages load faster
    %script{:src => '/javascripts/jquery-2.0.3.min.js'}
    %script{:src => '/javascripts/bootstrap.min.js'}
    %script{:src => "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js" }
    %script{:src => "/javascripts/hack2end.js"}

