!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %meta{:name=>'viewport', :content =>'width=device-width', 'initial-scale'=>1.0}
    %meta{:name =>'description', :content => ''}
    %meta{:name => 'author', :content => ''}
    %link{:rel => 'shortcut icon', :href => 'http://getbootstrap.com/assets/ico/favicon.png'}
    %link{:href => "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css", :rel => 'stylesheet'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/hack2end.css'}
    %link{:rel => 'stylesheet', :href => '/stylesheets/c3.css'}
    %title
      \Taking Stock
    -# Bootstrap core CSS
    %link{:href => '/stylesheets/bootstrap.min.css', :rel => 'stylesheet'}
    -# Custom styles for this template
    %link{:href => '/stylesheets/jumbotron-narrow.css', :rel => 'stylesheet'}
    
    -# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
    /[if lt IE 9]
      %script{:src => '/javascripts/ie/html5shiv.js'}
      %script{:src => '/javascripts/ie/respond.min.js'}
  %body
    .container{:style => 'max-width:none !important;'}
      .header
        %h3#hack-2-end.text-muted 
          \HayStack #h2eh
        #logo
        .row.marketing{:style => "margin:15px;"}
          .col-lg-12
            %h4 
              Haystack
            %p 
              HayStack is a tool to explore
              %a{href: "https://www.onecpd.info/resource/3031/pit-and-hic-data-since-2007/", target: "_blank"}
                Point in Time data 
              provided by the U.S. Department of Housing and Urban Development across the 25 metro areas involved in the 
              %a{href: "http://www.25cities.com/", target: "_blank"}
                25 Cities Initiative
              (Continuums of Care).
            %p 
              The bar chart below compares different variables with unsheltered persons per capita (1000 persons). The size of the circles on the map below represent the unsheltered persons per capita, while the darkness of a circle represents a higher density of the comparison variable.
            %p 
              Select a year or comparison variable to animate the chart and map. Click on a metro on the bar chart below or any circle on the map to highlight a specific city.

        %nav.navbar.navbar-default.navbar-static{role: "navigation"}
          .container-fluid
            .navbar-header
              %button.navbar-toggle{"data-target" => "navbar-collapse", "data-toggle" => "collapse", type: "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
              %a.navbar-brand{href: "#"} Select Year and Comparison Variable 
            .collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li.dropdown
                  %a#selected-year.dropdown-toggle{"data-toggle" => "dropdown", href: "#", role: "button"}
                    %span.text
                      2007
                    %b.caret
                  %ul#years.dropdown-menu{"aria-labelledby" => "drop1", role: "menu"}
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {year:  "2007"}} 2007
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {year:  "2008"}} 2008
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {year:  "2009"}} 2009
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {year:  "2010"}} 2010
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {year:  "2011"}} 2011
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {year:  "2012"}} 2012
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {year:  "2013"}} 2013
              %ul.nav.navbar-nav
                %li.dropdown
                  %a#selected-comparison.dropdown-toggle{"data-toggle" => "dropdown", href: "#", role: "button"}
                    %span.text
                      Housing Units Per Capita
                    %b.caret
                  %ul#comparisons.dropdown-menu{"aria-labelledby" => "drop1", role: "menu"}
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {comparison: "total_beds_per_1000_pop"}} Housing Units Per Capita
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {comparison: "psh_per_1000_pop"}} Permanent Supportive Housing 
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {comparison: "esp_per_1000_pop"}} Emergency Shelter
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {comparison: "rrh_per_1000_pop"}} Rapid Re-Housing
                    %li{role: "presentation"}
                      %a{href: "", role: "menuitem", tabindex: "-1", data: {comparison: "thp_per_1000_pop"}} Transitional housing

      #chart.c3{:style => "max-height: 280px; position: relative;"}
      #map-canvas.jumbotron
      .row.marketing
        .col-lg-12
          %p  
      .footer
        %p 
          %a{:href => 'http://www.hacktoendhomelessness.com/', :target => '_blank'} Made by Team HayStack at the Hack to End Homelessness.
          
    -# Bootstrap core JavaScript
    -# Placed at the end of the document so the pages load faster
    %script{:src => '/javascripts/jquery-2.0.3.min.js'}
    %script{:src => '/javascripts/bootstrap.min.js'}
    %script{:src => '/javascripts/d3.min.js'}
    %script{:src => '/javascripts/c3.min.js'}
    %script{:src => "https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js" }
    %script{:src => "/javascripts/hack2end.js"}
    %script{:src => "/javascripts/dropdown.js"}

